# Creating a Test System

This is the 5 bus system from PJM 
https://matpower.org/docs/ref/matpower5.0/case5.html
Power flow data for modified 5 bus, 5 gen case based on PJM 5-bus system

Based on data from F.Li and R.Bo, "Small Test Systems for Power System Economic Studies", Proceedings of the 2010 IEEE Power & Energy Society General Meeting

In [1]:
import pandapower as pp
import pandapower.plotting as plot
from numpy import pi
import os
import matplotlib.pyplot as plt
from pandas import DataFrame

In [2]:
import pandapower.networks as pn

net = pn.case5()

In [3]:
net

This pandapower network includes the following parameter tables:
   - bus (5 elements)
   - load (3 elements)
   - sgen (1 element)
   - gen (3 elements)
   - ext_grid (1 element)
   - line (6 elements)
   - poly_cost (5 elements)
   - bus_geodata (5 elements)

In [4]:
net.bus

   in_service  max_vm_pu  min_vm_pu name type  vn_kv zone
0        True        1.1        0.9    0    b  230.0    1
1        True        1.1        0.9    1    b  230.0    1
2        True        1.1        0.9    2    b  230.0    1
3        True        1.1        0.9    3    b  230.0    1
4        True        1.1        0.9    4    b  230.0    1

In [5]:
net.ext_grid

,bus,in_service,name,va_degree,vm_pu,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar
0,3,True,None,0.0,1.0,200.0,0.0,150.0,-150.0

In [6]:
net.gen

,bus,controllable,in_service,name,p_mw,scaling,sn_mva,type,vm_pu,slack,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar
0,0,True,True,None,40.00,1.0,NaN,None,1.0,False,40.0,0.0,30.0,-30.0
1,2,True,True,None,323.49,1.0,NaN,None,1.0,False,520.0,0.0,390.0,-390.0
2,4,True,True,None,466.51,1.0,NaN,None,1.0,False,600.0,0.0,450.0,-450.0

In [7]:
net.sgen

,bus,controllable,in_service,name,p_mw,q_mvar,scaling,sn_mva,type,current_source,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar
0,0,True,True,None,170.0,0.0,1.0,NaN,,True,170.0,0.0,127.5,-127.5

In [8]:
net.line

,c_nf_per_km,df,from_bus,g_us_per_km,in_service,length_km,max_i_ka,max_loading_percent,name,parallel,r_ohm_per_km,std_type,to_bus,type,x_ohm_per_km
0,35.702054,1.0,0,0.0,True,1.0,1.004087,100.0,None,1,1.48649,None,1,ol,14.8649
1,32.994314,1.0,0,0.0,True,1.0,99999.000000,100.0,None,1,1.60816,None,3,ol,16.0816
2,156.748063,1.0,0,0.0,True,1.0,99999.000000,100.0,None,1,0.33856,None,4,ol,3.3856
3,92.865455,1.0,1,0.0,True,1.0,99999.000000,100.0,None,1,0.57132,None,2,ol,5.7132
4,33.796607,1.0,2,0.0,True,1.0,99999.000000,100.0,None,1,1.57113,None,3,ol,15.7113
5,33.796607,1.0,3,0.0,True,1.0,0.602452,100.0,None,1,1.57113,None,4,ol,15.7113

In [9]:
net.load

,bus,const_i_percent,const_z_percent,controllable,in_service,name,p_mw,q_mvar,scaling,sn_mva,type
0,1,0.0,0.0,False,True,None,300.0,98.61,1.0,NaN,None
1,2,0.0,0.0,False,True,None,300.0,98.61,1.0,NaN,None
2,3,0.0,0.0,False,True,None,400.0,131.47,1.0,NaN,None

In [10]:
pp.runpp(net)

In [11]:
net.res_ext_grid

      p_mw     q_mvar
0  5.02718  184.12293

In [12]:
net.res_bus

      vm_pu  va_degree       p_mw     q_mvar
0  1.000000   3.273361 -210.00000 -30.725160
1  0.989261  -0.759269  300.00000  98.610000
2  1.000000  -0.492259  -23.49000 -96.044720
3  1.000000   0.000000  394.97282 -52.652930
4  1.000000   4.112031 -466.51000  38.209623

In [13]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,249.773373,21.599095,-248.006760,-4.637368,1.766612,16.961728,0.629326,0.629419,0.629419,1.000000,3.273361,0.989261,-0.759269,62.685695
1,186.500142,-13.612148,-185.437396,23.581606,1.062746,9.969458,0.469401,0.469237,0.469401,1.000000,3.273361,1.000000,0.000000,0.000469
2,-226.273515,22.738212,226.604972,-22.549636,0.331458,0.188576,0.570857,0.571637,0.571637,1.000000,3.273361,1.000000,4.112031,0.000572
3,-51.993240,-93.972632,52.118657,93.394588,0.125417,-0.578044,0.272517,0.268475,0.272517,0.989261,-0.759269,1.000000,-0.492259,0.000273
4,-28.628657,2.650132,28.653264,-3.078060,0.024607,-0.427929,0.072171,0.072340,0.072340,1.000000,-0.492259,1.000000,0.000000,0.000072
5,-238.188688,32.149384,239.905028,-15.659987,1.716340,16.489397,0.603327,0.603496,0.603496,1.000000,0.000000,1.000000,4.112031,100.173164

In [14]:
net.res_bus.vm_pu.max()
net.res_bus.vm_pu >1
net.res_bus[net.res_bus.vm_pu >1]

Empty DataFrame
Columns: [vm_pu, va_degree, p_mw, q_mvar]
Index: []

In [15]:
net.res_line.loading_percent[net.res_line.loading_percent>50]

0     62.685695
5    100.173164
Name: loading_percent, dtype: float64

In [16]:
net.res_bus.loc[net.res_bus.vm_pu>1]

Empty DataFrame
Columns: [vm_pu, va_degree, p_mw, q_mvar]
Index: []

In [17]:
net

This pandapower network includes the following parameter tables:
   - bus (5 elements)
   - load (3 elements)
   - sgen (1 element)
   - gen (3 elements)
   - ext_grid (1 element)
   - line (6 elements)
   - poly_cost (5 elements)
   - bus_geodata (5 elements)
 and the following results tables:
   - res_bus (5 elements)
   - res_line (6 elements)
   - res_ext_grid (1 element)
   - res_load (3 elements)
   - res_sgen (1 element)
   - res_gen (3 elements)

In [18]:
# net.bus_geodata

In [19]:
# plot.simple_plot(net)

### Plotting the Grid

In [20]:
import matplotlib.pyplot as plt
import os
import pandapower as pp
import pandapower.plotting as plot
import pandapower.networks as nw
try:
    import seaborn
    colors = seaborn.color_palette()
except:
    colors = ["b", "g", "r", "c", "y"]
%matplotlib inline

In [21]:
net.bus_geodata

          x         y coords
0 -3.375912 -1.922945   None
1 -4.290289 -1.343454   None
2 -3.705515 -0.438215   None
3 -2.792186 -1.018918   None
4 -2.391020 -1.945758   None

In [22]:
net.bus_geodata.x[0]=net.bus_geodata.x[1]; net.bus_geodata.y[0]=net.bus_geodata.y[2]
net.bus_geodata.x[2]=net.bus_geodata.x[3]; net.bus_geodata.y[1]=net.bus_geodata.y[3]
net.bus_geodata

          x         y coords
0 -4.290289 -0.438215   None
1 -4.290289 -1.018918   None
2 -2.792186 -0.438215   None
3 -2.792186 -1.018918   None
4 -2.391020 -1.945758   None

In [23]:
#plot buses
# bc = plot.create_bus_collection(net, size=.04, zorder=10, color="k", patch_type="rect")

In [24]:
#plot lines and switches
# tie_lines = set(net.switch.element[~net.switch.closed.values].values)
# lines = set(net.line.index) - tie_lines
# lc = plot.create_line_collection(net, lines, linewidths=2, use_bus_geodata=True, color="k")

In [25]:
#plot load and generation elements
# orient =[0, pi, 0, pi]
# lc1 = plot.create_load_collection(net, size=0.1, orientation=orient, linewidths=1.)
# sc1 = plot.create_gen_collection(net, size=0.11, orientation=0.5*pi, linewidths=0.7)
# sl1 = plot.create_ext_grid_collection(net, size=0.14, orientation=3*pi/2, linewidths=2.)
# plot.draw_collections([bc,lc, lc1, sc1, sl1], figsize=(9,4))
# plt.show()

# OPF

In [26]:
pp.runopp(net, verbose=True)

PYPOWER Version 5.1.4, 27-June-2018 -- AC Optimal Power Flow
Python Interior Point Solver - PIPS, Version 1.0, 07-Feb-2011
Numerically failed.
Did not converge in 2 iterations.

Did not converge (0.06 seconds)

================================================================================
| PyPower (ppci) System Summary - these are not valid for pandapower DataFrames|
================================================================================

How many?                How much?              P (MW)            Q (MVAr)
---------------------    -------------------  -------------  -----------------
Buses              5     Total Gen Capacity    1530.0       -1147.5 to 1147.5
Generators         5     On-line Capacity      1530.0       -1147.5 to 1147.5
Committed Gens     5     Generation (actual)    781.0              63.2
Loads              3     Load                  1000.0             328.7
  Fixed            3       Fixed               1000.0             328.7
  Dispatchable     0       Dispatchable           0.0 of 0.0        0.0
Shunts             0     Shunt (inj)              0.0               0.0
Branches           6     Losses (I^2 * Z)         0.00              0.03
Transformers       6     Branch Charging (inj)     -                0.0
Inter-ties         0     Total Inter-tie Flow     0.0               0.0
Areas              1

                          Minimum                      Maximum
                 -------------------------  --------------------------------
Voltage Magnitude   0.066 p.u. @ bus 1          0.068 p.u. @ bus 0
Voltage Angle      -0.33 deg   @ bus 1          0.06 deg   @ bus 0
P Losses (I^2*R)             -                  0.00 MW    @ line 0-1
Q Losses (I^2*X)             -                  0.01 MVAr  @ line 0-1

================================================================================
|     Area Summary                                                             |
================================================================================
Area  # of      # of Gens        # of Loads         # of    # of   # of   # of
 Num  Buses   Total  Online   Total  Fixed  Disp    Shunt   Brchs  Xfmrs   Ties
----  -----   -----  ------   -----  -----  -----   -----   -----  -----  -----
  1       5       5      5       3      3      0       0       6      6      0
----  -----   -----  ------   -----  -----  -----   -----   -----  -----  -----
Tot:      5       5      5       3      3      0       0       6      6      0

Area      Total Gen Capacity           On-line Gen Capacity         Generation
 Num     MW           MVAr            MW           MVAr             MW    MVAr
----   ------  ------------------   ------  ------------------    ------  ------
  1    1530.0  -1147.5 to 1147.5   1530.0  -1147.5 to 1147.5      781.0    63.2
----   ------  ------------------   ------  ------------------    ------  ------

Area    Disp Load Cap       Disp Load         Fixed Load        Total Load
 Num      MW     MVAr       MW     MVAr       MW     MVAr       MW     MVAr
----    ------  ------    ------  ------    ------  ------    ------  ------
  1        0.0     0.0       0.0     0.0    1000.0   328.7    1000.0   328.7
----    ------  ------    ------  ------    ------  ------    ------  ------
Tot:       0.0     0.0       0.0     0.0    1000.0   328.7    1000.0   328.7

Area      Shunt Inj        Branch      Series Losses      Net Export
 Num      MW     MVAr     Charging      MW     MVAr       MW     MVAr
----    ------  ------    --------    ------  ------    ------  ------
  1        0.0     0.0        0.0       0.00    0.03       0.0     0.0
----    ------  ------    --------    ------  ------    ------  ------
Tot:       0.0     0.0        0.0       0.00    0.03       -       -

================================================================================
|     Generator Data                                                           |
================================================================================
 Gen   Bus   Status     Pg        Qg
  #     #              (MW)     (MVAr)
----  -----  ------  --------  --------
  0      3      1     122.40     13.58
  1      0      1      20.41      3.52
  2      2      1     271.67     20.33
  3      4      1     279.38     10.95
  4      0      1      87.17     14.80
                     --------  --------
            Total:    781.02     63.19

================================================================================
|     Bus Data                                                                 |
================================================================================
 Bus      Voltage          Generation             Load
  #   Mag(pu) Ang(deg)   P (MW)   Q (MVAr)   P (MW)   Q (MVAr)
----- ------- --------  --------  --------  --------  --------
    0  0.068    0.065    107.57     18.32       -         -
    1  0.066   -0.330       -         -      300.00     98.61
    2  0.068   -0.120    271.67     20.33    300.00     98.61
    3  0.068    0.000*   122.40     13.58    400.00    131.47
    4  0.068    0.062    279.38     10.95       -         -
                        --------  --------  --------  --------
               Total:    781.02     63.19   1000.00    328.69

================================================================================
|     Branch Data                                                              |
================================================================================
Brnch   From   To    From Bus Injection   To Bus Injection     Loss (I^2 * Z)
  #     Bus    Bus    P (MW)   Q (MVAr)   P (MW)   Q (MVAr)   P (MW)   Q (MVAr)
-----  -----  -----  --------  --------  --------  --------  --------  --------
   0      0      1      0.16      0.47     -0.16     -0.46     0.001      0.01
   1      0      3      0.02      0.07     -0.02     -0.08     0.000      0.00
   2      0      4      0.00      0.00     -0.00     -0.02     0.000      0.00
   3      1      2     -0.22     -0.65      0.22      0.66     0.001      0.01
   4      2      3     -0.04     -0.12      0.04      0.12     0.000      0.00
   5      3      4     -0.02     -0.08      0.02      0.07     0.000      0.00
                                                             --------  --------
                                                    Total:     0.003      0.03

Did not converge (0.06 seconds)

================================================================================
| PyPower (ppci) System Summary - these are not valid for pandapower DataFrames|
================================================================================

How many?                How much?              P (MW)            Q (MVAr)
---------------------    -------------------  -------------  -----------------
Buses              5     Total Gen Capacity    1530.0       -1147.5 to 1147.5
Generators         5     On-line Capacity      1530.0       -1147.5 to 1147.5
Committed Gens     5     Generation (actual)    781.0              63.2
Loads              3     Load                  1000.0             328.7
  Fixed            3       Fixed               1000.0             328.7
  Dispatchable     0       Dispatchable           0.0 of 0.0        0.0
Shunts             0     Shunt (inj)              0.0               0.0
Branches           6     Losses (I^2 * Z)         0.00              0.03
Transformers       6     Branch Charging (inj)     -                0.0
Inter-ties         0     Total Inter-tie Flow     0.0               0.0
Areas              1

                          Minimum                      Maximum
                 -------------------------  --------------------------------
Voltage Magnitude   0.066 p.u. @ bus 1          0.068 p.u. @ bus 0
Voltage Angle      -0.33 deg   @ bus 1          0.06 deg   @ bus 0
P Losses (I^2*R)             -                  0.00 MW    @ line 0-1
Q Losses (I^2*X)             -                  0.01 MVAr  @ line 0-1

================================================================================
|     Area Summary                                                             |
================================================================================
Area  # of      # of Gens        # of Loads         # of    # of   # of   # of
 Num  Buses   Total  Online   Total  Fixed  Disp    Shunt   Brchs  Xfmrs   Ties
----  -----   -----  ------   -----  -----  -----   -----   -----  -----  -----
  1       5       5      5       3      3      0       0       6      6      0
----  -----   -----  ------   -----  -----  -----   -----   -----  -----  -----
Tot:      5       5      5       3      3      0       0       6      6      0

Area      Total Gen Capacity           On-line Gen Capacity         Generation
 Num     MW           MVAr            MW           MVAr             MW    MVAr
----   ------  ------------------   ------  ------------------    ------  ------
  1    1530.0  -1147.5 to 1147.5   1530.0  -1147.5 to 1147.5      781.0    63.2
----   ------  ------------------   ------  ------------------    ------  ------

Area    Disp Load Cap       Disp Load         Fixed Load        Total Load
 Num      MW     MVAr       MW     MVAr       MW     MVAr       MW     MVAr
----    ------  ------    ------  ------    ------  ------    ------  ------
  1        0.0     0.0       0.0     0.0    1000.0   328.7    1000.0   328.7
----    ------  ------    ------  ------    ------  ------    ------  ------
Tot:       0.0     0.0       0.0     0.0    1000.0   328.7    1000.0   328.7

Area      Shunt Inj        Branch      Series Losses      Net Export
 Num      MW     MVAr     Charging      MW     MVAr       MW     MVAr
----    ------  ------    --------    ------  ------    ------  ------
  1        0.0     0.0        0.0       0.00    0.03       0.0     0.0
----    ------  ------    --------    ------  ------    ------  ------
Tot:       0.0     0.0        0.0       0.00    0.03       -       -

================================================================================
|     Generator Data                                                           |
================================================================================
 Gen   Bus   Status     Pg        Qg
  #     #              (MW)     (MVAr)
----  -----  ------  --------  --------
  0      3      1     122.40     13.58
  1      0      1      20.41      3.52
  2      2      1     271.67     20.33
  3      4      1     279.38     10.95
  4      0      1      87.17     14.80
                     --------  --------
            Total:    781.02     63.19

================================================================================
|     Bus Data                                                                 |
================================================================================
 Bus      Voltage          Generation             Load
  #   Mag(pu) Ang(deg)   P (MW)   Q (MVAr)   P (MW)   Q (MVAr)
----- ------- --------  --------  --------  --------  --------
    0  0.068    0.065    107.57     18.32       -         -
    1  0.066   -0.330       -         -      300.00     98.61
    2  0.068   -0.120    271.67     20.33    300.00     98.61
    3  0.068    0.000*   122.40     13.58    400.00    131.47
    4  0.068    0.062    279.38     10.95       -         -
                        --------  --------  --------  --------
               Total:    781.02     63.19   1000.00    328.69

================================================================================
|     Branch Data                                                              |
================================================================================
Brnch   From   To    From Bus Injection   To Bus Injection     Loss (I^2 * Z)
  #     Bus    Bus    P (MW)   Q (MVAr)   P (MW)   Q (MVAr)   P (MW)   Q (MVAr)
-----  -----  -----  --------  --------  --------  --------  --------  --------
   0      0      1      0.16      0.47     -0.16     -0.46     0.001      0.01
   1      0      3      0.02      0.07     -0.02     -0.08     0.000      0.00
   2      0      4      0.00      0.00     -0.00     -0.02     0.000      0.00
   3      1      2     -0.22     -0.65      0.22      0.66     0.001      0.01
   4      2      3     -0.04     -0.12      0.04      0.12     0.000      0.00
   5      3      4     -0.02     -0.08      0.02      0.07     0.000      0.00
                                                             --------  --------
                                                    Total:     0.003      0.03

OPFNotConverged: Optimal Power Flow did not converge!

In [ ]:
net.res_gen

In [28]:
net.gen

,bus,controllable,in_service,name,p_mw,scaling,sn_mva,type,vm_pu,slack,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar
0,0,True,True,None,40.00,1.0,NaN,None,1.0,False,40.0,0.0,30.0,-30.0
1,2,True,True,None,323.49,1.0,NaN,None,1.0,False,520.0,0.0,390.0,-390.0
2,4,True,True,None,466.51,1.0,NaN,None,1.0,False,600.0,0.0,450.0,-450.0

In [31]:
net.poly_cost

,element,et,cp0_eur,cp1_eur_per_mw,cp2_eur_per_mw2,cq0_eur,cq1_eur_per_mvar,cq2_eur_per_mvar2
0,0,gen,0.0,14.0,0.0,0.0,0.0,0.0
1,0,sgen,0.0,15.0,0.0,0.0,0.0,0.0
2,1,gen,0.0,30.0,0.0,0.0,0.0,0.0
3,0,ext_grid,0.0,40.0,0.0,0.0,0.0,0.0
4,2,gen,0.0,10.0,0.0,0.0,0.0,0.0